.content{
    position: relative;
    display: flex;
    justify-content: center;
}
#box{
    position: absolute;
    left:0;
    height:100%;
    width:100%; 
    z-index: 98;
    display: none;  
}

#box img{
    height:100%;
    width:100%;
}
#box .pic{
    position: absolute;
    top:20px;
    left:12%;
    width:76%;
    margin:0 auto;
    z-index:98;
}
.pic img{
    width:100%;
    height:100%;
}
.pic #end{
    z-index:97;
}
.pic #close{
    position: absolute;
    top:-22px;
    left:90%;
    z-index:999;
    width:60px;
    height:60px;
}
#close #close1{
    width:22px;
    height:22px;
    margin:0 auto;
    line-height:60px;
    z-index:98;
}
#close1 img{
    width:100%;
    height:100%;
}
#box .hint{
    width:199px;
    height:22px;
    position: absolute;
    top:92%;
    left:50%;
    margin-left:-99.5px;
}
.hint img{
    width:100%;
    height:100%;
}
.more{
    position: absolute;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
}
.more>img{
    height:100%;
    width:100%;
    z-index:-1;
}
.more2{
    position: absolute;
    left:0;
    top:0;
    height:533.6px;
    width:300px;
    display:flex;
    justify-content: center;
    z-index:-98;
    /* z-index:99; */
}
.more2 .bgc{
    height:533.6px;
    width:300px;
    z-index:-99;
}
.bgc>img{
    height:100%;
    width:100%;
}
.more .subscriber,
.more2 .subscriber{
    position: absolute;
    left:10%;
    top:15px;
    height:40px;
    width:80%;
    margin-top:20px;
    display: flex;
    flex-direction: row;
  justify-content: center;
}
.more .user,
.more2 .user{
    /* width:42%;
    height:40px; */
    /* position: absolute; */
    /* left:0; */
    /* top:15px; */
    display: flex;
    /* align-items: center; */
  /* justify-content: center; */
    flex-direction: row;
    /* margin-top:20px; */
}
.user .head{
     width:40px;
     height:40px;
}
.user .nickname{
    height:40px;
    width:112px;
}
.nickname .name{
    font-size:16px;
    color:#f9d3a0;
    margin-bottom:2px;
    width:112px;
    height:21px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.nickname .next{
    font-size:16px;
    color:#f9d3a0;
}
.head img{
    width:100%;
    height:100%;
}
.head span{
    font-size: 18px;
}
.important{
    height:80%;
    width:100%;
}
.important img{
    height:100%;
    width:100%;
}
.footer{
    position: absolute;
    left:10%;
    bottom:60px;
    display:flex;
    justify-content: space-between;
    z-index: 90;
    height:7.5%;
    width:80%;
}
.savebtn,
.unscramble{
    height:80%;
}
.savebtn img,
.unscramble img{
    height:100%;
    width:80%;
}
.ewm{
    position: absolute;
    bottom:55px;
    height:120px;
    width:260px;
    margin:0 auto;

}
.ewm img{
    height:100%;
    width:100%;
    
}